body {background-color: black;}

/* frame */

.lefti, .righti, .topi, .bottomi { 
  background-color: white;
  position: absolute;
}

.lefti, .righti { 
  width: 5px;
  top: 10px; 
  bottom: 10px;
}

.lefti {left: 10px;}
.righti {right: 10px;}

.topi, .bottomi { 
  height: 5px;
  left: 10px;  
  right: 10px; 
}

.topi {top: 10px;}
.bottomi {bottom: 10px;}

/* logo */

.logo, .tagline {
  font-family: 'Six Caps', sans-serif;
  position: absolute;
  left: 50%;
}

.logo {
  font-size:70px;
  top:50%; 
  background-color:white;
  color: black;
}


.tagline {
  font-family: 'Six Caps', sans-serif;
  font-size: 16px;
  color: white;
  position: absolute;
  left: 50%;
  top:60%; 
}
